<script type="text/javascript">
  //<![CDATA[

  // mile_marker jQuery version
  function over(element) {
    element.setStyle({opacity: 1.0});
  }
  function init_miles() {
    $('*[mile]').each(function(index, el) {

      var id = (el.id || index)+'_mile';
      //todo: display: none at first, and then reveal later.
      var html = '<div id="'+id+'" style="z-index: <%= options[:z_index] %>; position: absolute; background-color: <%= options[:background_color] %>; opacity: 0.4; filter: alpha(opacity=40); color: #eee; font-family: Lucida Sans, Helvetica; font-size: 16px; font-weight: bold; white-space: nowrap; overflow: hidden;"><p style="padding: 3px 5px; background-color: <%= options[:background_color] %>; opacity: 1.0; filter: alpha(opacity=100); display: inline; color: #f3f3f3;">'+el.getAttribute('mile')+'</p></div>'

      //clone the element so that we can overlay it
      // var overlay_element = $(el).clone();

      //insert before the element in question
      $(el).after(html);

      var overlay_element = $('#'+id);

      // replace the clone's html with our html
      $(overlay_element).replaceWith(html);

      var overlay_element = $('#'+id);

      //set the height
      var height = $(el).height();
      var width = $(el).width();

      //set the position
      var pos = $(el).position();
      $(overlay_element).css("top", pos.top);
      $(overlay_element).css("left", pos.left);

      $(overlay_element).height(height);
      $(overlay_element).width(width);
    });
  }

  $(document).ready(init_miles);
</script>

